button{
    background-color:dodgerblue;
    color:white;
    margin-left: 8px;
    margin-top: 10px;
    width: 50x;
    
}
body{
    background-color: #213448;
    color: aliceblue;
    
}